<h2><%= user.name %> </h2>
<p><%= user.email %> </p>

<form action="/users/<%= user.id %>" method="post">
    <label for="active">Active:</label> <input type="checkbox" <%= user.active ? "checked" : "" %> name="active" id="active">
    <label for="birthday">Birthday:</label> <input type="date" value="<%= user.birthday %>" name="birthday" id="birthday">
    <button>Update</button>
</form>